[Desktop Entry]
Exec=qtwitter
Name=qTwitter
Icon=qtwitter
Type=Application
Categories=Qt;Network;Instant Messaging;
Comment=A microblogging client
Comment[ca]=El client de Twitter i Identi.ca
Comment[de]=Ein Twitter und Identi.ca Kunde
Comment[es]=El cliente de Twitter y Identi.ca
Comment[fr]=Un client de Twitter et Identi.ca
Comment[ja]=ｷｭｰトゥウィータ - Qttによるトゥウィータクライアント
Comment[pl]=Klient mikroblogów
Comment[pt_BR]=Um cliente Twitter e Identi.ca
GenericName=qTwitter
Terminal=false
X-KDE-StartupNotify=false
