[Desktop Entry]
Exec=qtwitter
Name=qTwitter
Icon=qtwitter
Type=Application
Categories=Qt;Network;Instant Messaging;
Comment=A client for Twitter and Identi.ca
Comment[ca]=El client de Twitter i Identi.ca
Comment[de]=Ein Twitter und Identi.ca Kunde
Comment[es]=El cliente de Twitter y Identi.ca
Comment[fr]=Un client de Twitter et Identi.ca
Comment[ja]=ｷｭｰトゥウィータ - Qttによるトゥウィータクライアント
Comment[pl]=Klient Twitter.com i Identi.ca
Comment[pt_BR]=Um cliente Twitter e Identi.ca
GenericName=A client for Twitter and Identi.ca
GenericName[ca]=El client de Twitter i Identi.ca
GenericName[de]=Ein Twitter und Identi.ca Kunde
GenericName[es]=El cliente de Twitter y Identi.ca
GenericName[fr]=Un client de Twitter et Identi.ca
GenericName[ja]=ｷｭｰトゥウィータ - Qttによるトゥウィータクライアント
GenericName[pl]=Klient Twitter.com i Identi.ca
GenericName[pt_BR]=Um cliente Twitter e Identi.ca
Terminal=false
X-KDE-StartupNotify=false
